html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: #5d5d5d;
  background-color: #f2f3f4;
}

input {
  border: none;
}

input:focus {
  outline: none;
  border: none;
}

button {
  border: none;
}

button:focus {
  border: none;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus {
  border: none;
  outline: none;
}

[contenteditable="true"]:focus {
  padding-bottom: 4px;
  border-bottom: 1px solid #dcdcdc;
}
